
.page-header {
	text-align: center;
}

.navbar-form {
	text-align: center;
	margin-bottom: 20px;
}

.game-block {
	width: 100%;
	height: 200px;
	border: 1px solid grey;
	text-align: center;
}

#dialogue-box {
	margin-top: 20px;
	width: 50%;
	margin-left: 25%;
}

.input-group {
	margin-left: 25%;
	width: 50%;
}

#blank {
	height: 50px;
}