
.page-header {
	text-align: center;
	background-color: #5886A1;
	line-height: 49px;
	font-size: 30px;
	color: white;
}


#bar-button {
	text-align: center;
	margin-bottom: 20px;
}

.game-block {
	width: 100%;
	height: 200px;
	border: 1px solid grey;
	text-align: center;
}

#dialogue-box {
	margin-top: 20px;
	width: 50%;
	margin-left: 25%;
}

#chatTitle {
	font-weight: bolder;
}

.input-group {
	margin-left: 25%;
	width: 50%;
}

#blank {
	height: 50px;
}

#greeting {
	text-align: center;
	margin-bottom: 5px;
	font-weight: bold;
}

h4 {
	font-size: 30px;
}

#turn-indicator {
	text-align: center;
	margin-bottom: 5px;
	font-weight: bold;
}

#vsText {
	line-height: 130px;
	font-weight: bold;
}

.player-name {
	font-weight: bold;
}

ul {
	list-style-type: none;
	font-size: 20px;
	padding-left: 0;
	visibility: hidden;;
    
}

li { 
	cursor: pointer; 
}

li:hover {
	background-color: #b58ebf;
}

.wl {
	
	visibility: hidden;;
}

#chatHistory {
	padding: 0px;
	min-height: 10px;

}


#disconnectMsg {
	color: white;
	background-color: #5886A1;
}